name: LinkGrabber

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */3 * * *"  # every 3 hours

permissions:
  contents: write           # allow committing files

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install yt-dlp

      - name: Generate M3U8 and EPG
        run: |
          python3 grabber.py

      - name: Commit and push if changed
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
